body {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ecebff;
    color: #333333;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: url(#noiseFilter);
}

label {
    color: #c8b6ff;
    font-size: 14px;
}

input {
    width: 200px;
}

input, label {
    display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
    margin: 20px;
}

svg {
    width: 0;
    height: 0;
}

a, a:visited, a:active {
    color: inherit
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 650px;
    row-gap: 15px;
}

.input-block {
    flex-basis: 48%;
}

.sidebar {
    position: relative;
    flex: 1;
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.header {
    padding: 100px 40px 80px;
}

.header, h1 {
    font-size: 24px;
}

.middle {
    flex: 1;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 3px 5px #ccc;
}

#credit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.4;
}

